<div class="container" *ngIf="displayedProducts$ | async as displayedProducts">
    <div class="row">
      <div class="col-md-3">
        <app-filters></app-filters>
      </div>
      <div class="col-md-9">
        <!-- Product Grid -->
        <div class="row">
          <div class="col-md-4 mb-4" *ngFor="let product of displayedProducts">
            <div class="card custom-card mt-3" (click)="navigateTo(product.id)">
              <img [src]="product.thumbnail" class="card-img-top" alt="{{ product.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ truncateString(product.description) }}</p>
                <p class="card-text">
                  <small>EGP</small>
                  <b>
                    {{ product.price }}
                  </b>
                  <span class="rating">
                    ⭐️
                    {{ numRound(product.rating)}}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
         <!-- Display Message for No Data -->
        <div class="card mt-4" *ngIf="displayedProducts.length === 0">
          <div class="text-center pt-2">
            <p>No data found.</p>
          </div>
        </div>

        <!-- Pagination -->
        <div class="text-center mt-4 mb-2" *ngIf="displayedProducts.length">
          <button class="btn btn-primary" (click)="loadMoreProducts()" [disabled]="displayedProducts.length == 0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
              <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
            </svg>
            Load More
          </button>
        </div>
        <!-- Loading Indicator -->
        <div class="text-center mt-3" *ngIf="isLoading$ | async">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  