.custom-card {
  background-color: #fff;
  border-radius: 4px;
  border-color: #fff;
  cursor: pointer;

  .card-body {
    border-top: 5px solid #F9FAFB;

    small {
      color: #999;
      font-size: 12px;
    }
    .card-text {
      .rating {
        border: 1px solid #EAECF0;
        border-radius: 15px;
        padding: 2px 10px;
        float: right;
      }
    }
  }
}

